services:
  postgres:
    image: postgres:16
    container_name: mailpilot-postgres
    environment:
      POSTGRES_USER: mailpilot
      POSTGRES_PASSWORD: mailpilot
      POSTGRES_DB: mailpilot
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  rabbitmq:
    image: rabbitmq:3-management
    container_name: mailpilot-rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"

  ftp:
    image: delfer/alpine-ftp-server
    container_name: mailpilot-ftp
    environment:
      USERS: "test|test123"
    ports:
      - "2121:21"
      - "21000-21010:21000-21010"
    volumes:
      - ftpdata:/home/test

  mailhog:
    image: mailhog/mailhog
    container_name: mailpilot-mailhog
    ports:
      - "1025:1025"
      - "8025:8025"

volumes:
  pgdata:
  ftpdata:
